.breadcrumbs {

	&__elem {
		display: inline-block;
		list-style: none;
		&::after {
			content: "/";
			font-size: 1.4rem;
			padding-right: 0.5rem;
			padding-left: 0.5rem;
			color: $text-header;
		}
		&:last-child::after {
			content: "";
			padding: 0;

		}
		&:last-child .breadcrumbs__link {
			color: lighten($text-header, 10%);
			cursor: auto;
		}
	}
	&__link {
		font-size: 1.4rem;
		color: $accent;
		text-decoration: none;
		transition: all .3s;
		&:hover {
			color: darken($accent, 20%);
		}

	}
}