	
.wrapper {
		width: 1200px;
		margin-right: auto;
		margin-left: auto;
		padding-left: 15px;
		padding-right: 15px;
		@include respond(1200) {
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;
		}
	}
	
	
	//Buttons

@mixin button-reset {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

.btn {
	@include button-reset;
	
	display: inline-block;
	text-align: center;
	text-decoration: none;
	margin-top: 10px;
	border: solid 1px transparent;
	border-radius: 3px;
	padding: 10px 30px;
	color: #ffffff;
	background-color: $accent;
	outline: none;
	transition: all .3s;
  &::-moz-focus-inner {
    border: none;
  }
  &:active {
		transform: translateY(-1px);
		box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  	filter: saturate(150%);
  }
  &:hover,
  &:focus {
    color: $accent;
    border-color: currentColor;
		background-color: white;
		transform: translateY(-3px);
		box-shadow:  0 10px 20px rgba(0, 0, 0, .2);
}
  &:focus {
		transform: translateY(-1px);
		box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  }
}

	//Title section

.section-title {
	padding-top: 10rem;
	padding-bottom: 6rem;
	font-size: 3rem;
	@include respond(768) {
		font-size: 2.4rem;
	}
}


	// Inputs

.input {
	max-width: 300px;
	width: 100%;
	padding-left: 3rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	box-shadow: 0px 5px 10px 0 #ccc;
	border-radius: 10px;
	font-size: 1.6rem;
	border-color: #fff;
	height: 50px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

	//Checkbox

		.checkbox-text {
    position: relative;
		cursor: pointer;
		padding-left: 3rem;
  }

.checkbox-inp[type="checkbox"] {
    display: none;
  }
  
  .checkbox-inp[type="checkbox"]:checked + .checkbox-text:before {
    content: "\2713";
    font-size: 20px;
    color: $accent;
    text-align: center;
		line-height: 22px;
		color: $accent-bg;
  }
  
    .checkbox-text:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid $accent-bg;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 4px;
    background-color: #fff;
    //box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
  }

	// Popups

.popup-nameClass {
  z-index: 100;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
	height: 100%;
	overflow-y: auto;

	&__mask {
		background-color: rgba(0, 0, 0, 0.5);
		position: fixed;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
}
&__window {
		position: absolute;
		top: 50px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
		z-index: 5;
    background-color: #fff;
    min-width: 320px;
		min-height: 260px;
		border: 1px solid #999;
		margin-bottom: 50px;
  }
	&__close {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: url(../img/close.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
		cursor: pointer;
		z-index: 333;
  }
	&__form-order {
    padding-top: 1px;
		position: relative;
		text-align: center;
  }
	&__form-inf {
    margin: 0 auto;
    width: 200px;
    display: block;
    margin-top: 40px;
    padding-left: 10px;
    height: 32px;
    font-size: 16px;
  }

}



//scroll-top


.top-scroll {
  position: fixed;
  bottom: 30px;
  right: -100px;
  background-color: $accent;
  z-index: 12;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all .3s ease;
	opacity: .5;
} 

.top-scroll::before {
	content: '';
	position: absolute;
	background-image: url(../img/arrow-up.svg);
	width: 25px;
	height: 25px;
	background-size: cover;
	background-repeat: no-repeat;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.top-scroll:hover {
  opacity: 1;
} 

.top-scroll_active {
  right: 30px;
}